<!DOCTYPE html>
<html lang="en">

<head><meta http-equiv="Content-Type" content="text/html; charset=euc-jp">

    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Conor and Natalie</title>

    <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script type="text/javascript" src="js/rsvp.js"></script>
<link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.9.0/loading-bar.min.css' type='text/css' media='all' />
 <script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.9.0/loading-bar.min.js'></script>

    <!-- Theme CSS -->
    <link href="css/freelancer.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="#page-top">C <small><i class="fa fa-heart-o" aria-hidden="true"></i></small> N</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#portfolio">Location</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#about">Information</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#contact">RSVP</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="img/profile.png" alt="">
                    <div class="intro-text">
                        <span class="name">Conor and Natalie</span>
                        <hr class="star-light">
                        <span class="skills">Friday 19th May 2017.</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Location</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row text-center">
                <div class="location-info">
                    <div id="location-text">
                        The wedding ceremony will take place at the Church of El Salvador, in Nerja, on Friday 19th May 2017.</br></br>
                    </div>
                </div>
                    <iframe
                      width="80%"
                      height="250"
                      frameborder="0" style="border:0"
                      src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDo6lg8fQUAI6tPINEz-ccBOGC4w1uqxz4&q=Church+of+El+Salvador+Nerja+Spain" allowfullscreen>
                    </iframe></br></br>
		    <div id="location-text">
                    The reception will be held in <a href="http://www.senoriodenevada.es/EN/hotel.html">Hacienda Señorio De Nevada.</a> If you would like to
                    book a room to stay the night of the wedding (19th May), please contact the hotel directly by email (<a href="mailto:reservas@senoriodenevada.es">reservas@senoriodenevada.es</a>) or telephone (+34 958 777 092) quoting reference number 25162.</br></br>
                    </div>
                    <iframe
                      width="80%"
                      height="250"
                      frameborder="0" style="border:0"
                      src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDo6lg8fQUAI6tPINEz-ccBOGC4w1uqxz4&q=Hacienda+Señorio+De+Nevad+Spain" allowfullscreen>
                    </iframe>
                </div>
            </div>
        </div>
    </section>

    <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Information</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Our wedding will take place on Friday 19th May 2017. We recommend staying a few days in Nerja before the wedding. </br></br>The nearest airport to Nerja is Malaga. <a href="http://www.easyjet.com/" class="class2">EasyJet</a>, <a href="http://www.aerlingus.com/" class="class2">Aer Lingus</a> and <a href="http://www.ryanair.com/" class="class2">Ryanair</a> all fly from Belfast to Malaga daily. There are lots of car rental options at Malaga airport. It is also possible to travel <a href="https://www.alsa.es/rutas/nerja-malaga.htm" class="class2">by bus</a> from the airport to Nerja. </br></br> There are loads of nice places to stay in Nerja - have a look at <a href="http://www.booking.com" class="class2">Booking.com</a> or <a href="https://www.ownersdirect.co.uk/rentals/spain/nerja-area/r551" class="class2">Owners Direct</a>.</p></br>
                </div>
                <div class="col-lg-4">
                    <p>On the day of the wedding there will be a bus provided which will take you from the church to the wedding reception, returning to Nerja later in the evening. </br></br>For those staying the night at <a href="http://www.senoriodenevada.es/EN/hotel.html" class="class2">Hacienda Señorio de Nevada</a> you may wish to drive so you have your car the following day. Please indicate whether or not you intend to drive or avail of the bus when submitting your RSVP below.</p>
                </div>
               
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>RSVP</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div id="location-text">
                      Please let us know if you will be attending, or not, by clicking the large purple button below. Thank you!</br></br>
                      <button type="button" class="btn btn-rsvp center-block" data-toggle="modal" data-target="#myModal">Click Here to RSVP</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    
    
    <!-- Modal -->
	<div id="myModal" class="modal fade" role="dialog">
	    <div class="modal-dialog">
	
    	    <!-- Modal content-->
    	    <div class="modal-content">
    	       <div class="modal-header">
    	           <button type="button" class="close" data-dismiss="modal">&times;</button>
    	           <h4 class="modal-title">RSVP</h4>
    	       </div>
    	    <div class="modal-body">
                <div ng-app="app" ng-controller="rsvpCtrl">
                    <div ng-hide="formSubmitted">
                    <p>How many people are you RSVP'ing for? </p>
                    <form class="form-group" ng-submit="submitRSVP()">
                        <select ng-init="selectedNumber = numbers[0]" ng-change="add()" ng-model="selectedNumber" ng-options="number as number.name for number in numbers" class="form-control"></select>

                        <div ng-repeat="person in people">
                            </br>
                            <legend>Guest number {{$index + 1}}</legend>
                            <div class="form-group">
                                <div class="form-group">
                                    <label for="firstName">First Name: </label>
                                    <input type="text" placeholder="First Name" class="form-control" ng-model="person.firstName" required>
                                    <label for="person.firstName">Surname: </label>
                                    <input type="text" placeholder="Last Name" class="form-control" ng-model="person.lastName" required>
                                </div>
                                <div class="form-group">
                                    <label for="person.attending">Will you be attending? </label></br>
                                    <input type="radio" ng-model="person.attending" value="yes" ng-required="!person.attending"> Yes
                                    </br>
                                    <input type="radio" ng-model="person.attending" value="no" ng-required="!person.attending"> Unfortunately Not
                                    </br>
                                </div>
                                <div ng-if="person.attending === 'yes'" class="form-group">
                                    <label for="person.bus">Will you avail of the bus from the church to the reception? </label></br>
                                    <input type="radio" ng-model="person.bus" value="yes" ng-required="!person.bus"> Yes
                                    </br>
                                    <input type="radio" ng-model="person.bus" value="no" ng-required="!person.bus"> No - driving
                                </div>
                                <div class="form-group">
                                    <label for="otherinfo">Other Info: </label>
                                    <input type="text" placeholder="Other Info" class="form-control" ng-model="person.otherinfo">
                                </div> 
                            </div> 
                                                                    
                        </div>
                        </br>
                        <button ng-show="selectedNumber.id>0" type="submit" class="btn btn-rsvp center-block ng-hide">Send RSVP!</button>
                    </div>
                    </form>
                    <div ng-repeat="success in peopleSuccess track by $index">
                        <div class="alert alert-success">
                          <strong>Success!</strong> Thank you <strong>{{success.firstname}}</strong>! We have recieved your RSVP.
                        </div>
                    </div> 
                    <div ng-repeat="fail in peopleFail track by $index">
                        <div class="alert alert-danger">
                          <strong>Error!</strong> <strong>{{fail.firstname}}</strong>, something has gone wrong.</br></br>We didn't get your RSVP so please refreh the page and try again. If you are still having trouble then please e-mail me at <a href="mailto:conor.starrs@gmail.com">conor.starrs@gmail.com</a>.
                        </div> 
                    </div>        
                </div>
                
	    </div>
	    <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close Window</button>
	      </div>
	    </div>
	  </div>
	</div>
    
    

    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4">

                    </div>
                    <div class="footer-col col-md-4">
                        <h3>Contact Us</h3>
                        <ul class="list-inline">
                            <li>
                                <a href="mailto:conor.starrs@gmail.com"><i class="fa fa-fw fa fa-envelope"></i>E-mail Conor</a>
                            </li>
                            <li>
                                <a href="mailto:n.mclaughlin86@gmail.com"><i class="fa fa-fw fa fa-envelope"></i>E-mail Natalie</a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-col col-md-4">

                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; Conor and Natalie 2016/2017
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

    <!-- jQuery -->
    <script src="vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Theme JavaScript -->
    <script src="js/freelancer.min.js"></script>

</body>

</html>
